spring:
  application:
    name: processor-service
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
      minimum-idle: 1
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

clickhouse:
  # Для JDBC драйвера версии 0.6.0 можно использовать HTTP (8123) или нативный протокол (9000)
  # Если не работает с 8123, попробуйте: jdbc:clickhouse://localhost:9000/default
  url: jdbc:clickhouse://localhost:8123/default
  username: default
  password:

server:
  port: 8081

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
